.backgroundimg {
	background: url("Pictures/foodz1.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
}


.framelogin {
	width: 1000px;
	height: 800px;
	background: #fff;
	color: #000;
	top: 65%;
	left: 50%;
	border-radius: 5px;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
	box-shadow: 5px 5px 30px #000;
}
