@{

	ViewBag.Title = "Contact us";
}

				<html>
				<head>
					<h2>@ViewBag.Title.</h2>
					<link rel="stylesheet" type="text/css" href="~/Content/Contact.css" />
					<div class="backgroundimg">
						<div class="framelogin">

							
							<h2>@ViewBag.Title.</h2>

							<p>The developers can be contacted at the following emails: </p>

							<ul>
								<li>Frederik Husted - s164101@student.dtu.dk</li>
								<li>Isaac Irani - s175187@student.dtu.dk</li>
								<li>Josephine Mellin - s163313@student.dtu.dk</li>
								<li>Mads Jørgensen - s175184@student.dtu.dk</li>
								<li>Tobias Hagemann - s175212@student.dtu.dk</li>
							</ul>

							</div>
						</head>
</html>
	