@{
    ViewBag.Title = "Food";
}

<h2>Fun with food!</h2>
<div>
	<p>If you're interested in some jokes or just some fun facts about food, you have entered the right place!</p>
</div>

<div>
	<p>This button is here to make you smile!</p>
	<button id="Joke" title="Generate Joke!" class="button">Generate Joke</button>
</div>
<br>
<div id="tekst1"></div>


<div>
	<p>This button generates some random trivia!</p>
	<button id="Trivia" title="Generate Trivia!" class="button">Generate Trivia</button>
</div>

<div id="tekst2"></div>