@{
    ViewBag.Title = "Health & Diet";
}
<h2>@ViewBag.Title.</h2>

<p>On this page you will find various sources to articles about improving and maintaining your health and diet. <br />
   Furthermore, we offer a various assortment of tools to help you on your jouney, such as a BMI calculator. </p>


<p>

</p>


