@{
    ViewBag.Title = "About the app";
}
<h2>@ViewBag.Title.</h2>

<p>
    "Food Recipe App" is a MVC web application that allows a given user to find food recipes according to their dietary needs and favorite ingredients.<br />
    It is developed by the group as a project in the course
    "<b>
        62413 Advanced object oriented programming using C# and .NET
    </b>".
</p>

<p>The group consists of the following members, listed with their student number and Github usernames: </p>

<ul>
    <li>Frederik Husted - s164101 - fredehus</li>
    <li>Isaac Irani - s175187 - isaix</li>
    <li>Josephine Mellin - s163313 -  Y0SSB0SS</li>
    <li>Mads Jørgensen - s175184 - Zeydel</li>
    <li>Tobias Hagemann - s175212 - TBHagemann</li>
</ul>


